/* ===============================
   CV RIO – PERSONAL INFO SECTION
=============================== */

.cv-rio__personalInfoSection {
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 15px;

  &:hover {
    background-color: #00ccff09;
    border: 1px solid #00ccff13;
    box-shadow: 0px 0px 2px #00ccff27;
  }

  /* ----- Título general de la sección ----- */
  &--title {
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 0.5rem;
    color: black;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: #000;
    }
  }

  /* ========== ITEMS ========== */
  &--item {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    /* Label del dato */
    &-name {
      font-weight: 600;
      font-size: 0.95rem;
    }

    /* Valor del dato */
    &-value {
      font-size: 0.9rem;
    }
  }
}
