.affiliate {
  min-height: 100vh;
  padding: 6rem 1.5rem;
  padding-bottom: 2rem;
  background:
    radial-gradient(
      1000px 200px at 20% 20%,
      #f5f4f4,
      transparent
    ),
    #ffffff;
  color: #0f0f2a;;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__hero {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__badge {
    display: inline-block;
    padding: 0.4rem 1rem;
    border-radius: 999px;
    font-size: 0.85rem;
    font-weight: 600;
    background: rgba(255, 239, 197, 0.15);
    color: #ffc101;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: clamp(2.2rem, 5vw, 3.5rem);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;

    span {
      color: #ffc101;
    }
  }

  &__subtitle {
    max-width: 720px;
    margin: 0 auto;
    font-size: 1.1rem;
    color: #1a1a22a6;
  }

  &__job-card{
    display: flex;
    align-items: center;
    flex-direction: column;

    
  }
}

.affiliate__video{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    
    p{
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-top: 2rem;
    }
}
