/* ===============================
   CV RIO – IDENTITY SECTION
=============================== */

.cv-rio__identitySection {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  border: 1px solid transparent;
  padding: 0.5rem;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: #00ccff09;
    border: 1px solid #00ccff13;
    box-shadow: 0px 0px 2px #00ccff27;
    border-radius: 15px;
  }

  /* Modificadores */
  &.space {
    justify-content: space-between;
  }

  &.start {
    justify-content: flex-start;
  }

  /* QR Wrapper */
  &--qr-wrapper {
    align-self: flex-start;
  }

  &--qr-text {
    font-size: 0.8rem;
  }

  /* Title */
  &--title {
    font-size: 2.9rem;
    font-weight: 700;
    color: black;
    max-width: 400px;
  }

  /* Imagen */
  &--img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.562);
  }

  /* Contenedor del texto */
  &--text {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    line-height: 3.5rem;
    margin: auto 0;
  }

  /* Ocupación */
  &--occupation {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    margin-bottom: 1.5rem;
  }
}
