.gender-filter__option {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 35px;
  border: 1px solid transparent;

  &.active {
    background: #ffffff;
    color: #ffbb00;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.144);
  }
}