.cv-viena{
  &__section{
    border: 1px solid #00ccff00;

    &:hover {
      background-color: #00ccff09;
      border: 1px solid #00ccff13;
      box-shadow: 0px 0px 2px #00ccff27;
    }

    &--active{
      background-color: #00ccff09;
      border: 1px solid #00ccff13;
      box-shadow: 0px 0px 2px #00ccff27;
    }
  }

  &__remove{
    font-size: 1rem;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    right: -1.3rem;
    color: inherit;
  }

  &__arrow{
    cursor: pointer;
    z-index: 100;
    position: absolute;
    right: -1.5rem;
    color: rgb(83, 83, 83);
  }

  &__identitySection {
    display: flex;
      gap: 2rem;
      align-items: start;
      justify-content: space-between;
      padding: 10px 20px;
      padding-right: 0;
      padding-bottom: 10px;
      border: 12px solid white;
      border-radius: 0px;
      cursor: pointer;
      transition: all 0.2s ease;
      min-height: 150px;
      position: absolute;
      left: 3rem;
      right: 3rem;
      top: 3rem;
      background-color: #ffffff;
      border-radius: 5px;

      &:hover {
        background-color: #ffffff;
        border: 12px solid #f9fffe;
      }

      &--active {
        background-color: #00ccff09;
        border: 1px solid #00ccff13;
      }

      &.space {
        justify-content: space-between;
      }

      &.start {
        justify-content: flex-start;
      }

      &--img {
        width: 110px;
        height: 110px;
        border-radius: 0;
        object-fit: cover;
        margin-top: 0.5rem;
      }

      &--text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        line-height: 3.8rem;
        margin: auto 0;
        word-break: break-word; // rompe palabras largas
        overflow-wrap: break-word; // soporta compatibilidad
      }

      &--title {
        font-size: 3.5rem;
        font-weight: 600;
        max-width: 450px;
        color: rgb(68, 68, 68); // será sobrescrito por style={{ color: styles.title }}
        text-transform: uppercase;
      }

      &--occupation {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 2.2rem;
        color: #5f5f5f; // será sobrescrito por style={{ color: styles.profession }}
      }

      &--qr-wrapper {
        align-self: flex-start;
        text-align: center;
        margin-top: 0.5rem;
        position: absolute;
        top: 0rem;
        right: 0px;
      }

      &--qr-text {
        font-size: 0.8rem;
        margin-top: 0.4rem;
        color: #333;
      }
  
    &--main{
      display: flex;
      gap: 1.5rem;
      position: relative;
    }
    
    &--progress-indicator{
      top: 0rem;
      left: -4.5rem;
    }
}
    // ------------------------------
  // General - Horizontal
  // ------------------------------
  &__contactSection, &__personalInfoSection, &__skillSection, &__languajeSection, &__linkSection,
  &__hobbieSection, &__profileSection, &__experienceSection, &__educationSection, &__courseSection,
  &__awardSection, &__referenceSection, &__customSection{
    padding-left: 0;
    cursor: pointer;

    word-break: break-word; // rompe palabras largas
      overflow-wrap: break-word; // soporta compatibilidad

    &--title {
      font-size: 1.5rem;
      font-weight: 600;
      position: relative;
      display: inline-block; /* importante para que el borde mida solo el título */
      padding-bottom: 15px;   /* espacio entre texto y borde */
      color: black;
      position: relative;
      text-transform: uppercase;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0.4rem;
        width: 40px;     /* <<--- el borde llega solo a la mitad */
        height: 3px;
        border-radius: 100px;
        background: #101011;
      }
    }
  }

   // ------------------------------
  // General - Vertical
  // ------------------------------
  &__personalInfoSection, &__contactSection, &__skillSection, &__languajeSection, &__linkSection, &__hobbieSection{
    &--title{
      color: rgb(228, 228, 228);
      font-size: 1.45rem;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0.4rem;
        width: 40px;     /* <<--- el borde llega solo a la mitad */
        height: 3px;
        border-radius: 100px;
        background: #0b67c2;
      }
    }
    &--item-value{
      color: #afafaf;
    }
    &--item{
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      &-name{
        color: rgb(206, 206, 206);
      }
    }
  }

  // ------------------------------
  // CONTACT SECTION
  // ------------------------------
  &__contactSection {
    &--item {
      margin-top: 0.7rem;

      &-name {
        font-weight: 600;
        font-size: 0.95rem;
      }

      &-value {
        font-size: 0.9rem;
      }

      &-url {
        font-size: 0.9rem;
      }

      &-text-url {
        font-size: 0.85rem;
        opacity: 0.7;
      }
    }
  }

  // ------------------------------
  // PERSONAL INFO SECTION
  // ------------------------------
  &__personalInfoSection {
    &--item {
      margin-top: 0.7rem;

      &-name {
        font-weight: 600;
        font-size: 0.95rem;
      }

      &-value {
        font-size: 0.9rem;
      }
    }
  }

  // ------------------------------
  // SKILL SECTION
  // ------------------------------
  &__skillSection {
    &--item {
      margin-top: 0.9rem;

      &-name {
        font-size: 0.95rem;
        font-weight: 600;
      }

      &-level {
        font-size: 0.9rem;
        opacity: 0.8;
        color: #dcdcdc;
      }
    }

    /* Encabezado habilidad + nivel */
    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /* Contenedor de la barra */
    &--progress {
      margin-top: 0.35rem;
      width: 100%;
      height: 6px;
      background-color: #414141; // gris claro
      border-radius: 4px;
      overflow: hidden;
    }

    /* Barra interna */
    &--progress-bar {
      height: 80%;
      background-color: #0b67c2; // negro
      border-radius: 4px;
      transition: width 0.4s ease;
    }
  }

  // ------------------------------
  // LANGUAGE SECTION
  // ------------------------------
  &__languajeSection {
    &--item {
      margin-top: 0.9rem;

      &-name {
        font-weight: 600;
        font-size: 0.95rem;
      }

      &-level {
        font-size: 0.9rem;
        opacity: 0.8;
        color: #dcdcdc;
      }
    }

    /* Encabezado idioma + nivel */
    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /* Contenedor de la barra */
    &--progress {
      margin-top: 0.35rem;
      width: 100%;
      height: 6px;
      background-color: #414141; // gris suave
      border-radius: 4px;
      overflow: hidden;
    }

    /* Barra interna */
    &--progress-bar {
      height: 80%;
      background-color: #0b67c2; // negro sólido
      border-radius: 4px;
      transition: width 0.4s ease;
    }
  }

  // ------------------------------
  // LINK SECTION
  // ------------------------------
  &__linkSection {
    &--item {
      margin-top: 0.7rem;

      /* Nombre del enlace (clickeable) */
      &-name {
        font-size: 0.95rem;
        font-weight: 600;
        color: #afafaf;
        text-decoration: none;
        cursor: pointer;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.6;
        }
      }

      /* URL en texto pequeño (solo si visible) */
      &-url {
        font-size: 0.8rem;
        opacity: 0.7;
        margin-top: 0.15rem;
        word-break: break-all; // para URL largas en CV
        color: #afafaf;
      }
    }
  }

  // ------------------------------
  // HOBBIE SECTION
  // ------------------------------
  &__hobbieSection {
    &--title {
      margin-bottom: 0.6rem;
    }

    /* Contenedor de los chips */
    &--list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.45rem;
    }

    /* Chip individual */
    &--item {
      display: inline-block;
      padding: 0.35rem 0.65rem;

      background-color: #ffffff;
      border-radius: 6px;

      font-size: 0.85rem;
      font-weight: 500;
      color: #000;

      border: 1px solid #051235;
      transition: background 0.2s ease, border 0.2s ease, opacity 0.2s ease;
    }
  }

  // ------------------------------
  // PROFILE SECTION
  // ------------------------------
  &__profileSection {
    &--item {
      font-size: 0.98rem;
      line-height: 1.4;
      margin-top: 1rem;
      color: #919191;
    }
  }

  // ------------------------------
  // EXPERIENCE SECTION
  // ------------------------------
  &__experienceSection {

    &--item-box{
      display: flex;
      justify-content: space-between;
    }
    &--item {
      margin-top: 1rem;
      color: #919191;

      &-head {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        position: relative;

        &-subtitle {
          font-size: 1.1rem;
          font-weight: 600;
          max-width: 280px;
        }

        &-employer {
          margin-left: 0.5rem;
          font-weight: 600;
        }

        &-location {
          font-size: 0.92rem;
          max-width: 100px;
          text-align: end;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      &-date {
        display: flex;
        gap: 0.5rem;
        margin: 0.5rem 0;
        font-size: 0.9rem;
        color: #9c9c9c;

        &-start,
        &-end {
          span, p {
            display: inline-block;
            margin-right: 0.2rem;
            font-weight: 500;
          }
        }
      }

      &-date-description {
        line-height: 1.4;
        color: #949494;
        margin-left: 1rem;
      }
    }
  }

  // ------------------------------
  // EDUCATION SECTION
  // ------------------------------
  &__educationSection {
    &--item {
      margin-top: 1rem;
      color: #919191;

      &-head {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        position: relative;

        &-subtitle {
          font-size: 1.1rem;
          font-weight: 600;
          max-width: 280px;
        }

        &-employer {
          margin-left: 0.5rem;
          font-weight: 600;
        }

        &-location {
          font-size: 0.92rem;
          max-width: 100px;
          text-align: end;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      &-date {
        display: flex;
        gap: 0.5rem;
        margin: 0.5rem 0;
        font-size: 0.9rem;
        color: #9c9c9c;

        &-start,
        &-end {
          span, p {
            display: inline-block;
            margin-right: 0.2rem;
            font-weight: 500;
          }
        }
      }

      &-date-description {
        line-height: 1.4;
        color: #a0a0a0;
        padding-left: 1rem;
      }
    }
  }

  // ------------------------------
  // COURSE SECTION
  // ------------------------------
  &__courseSection {
    &--item {
      margin-top: 1rem;
      color: #919191;

      &-head {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        position: relative;

        &-subtitle {
          font-size: 1.1rem;
          font-weight: 600;
          max-width: 280px;
        }

        &-employer {
          margin-left: 0.5rem;
          font-weight: 600;
        }

        &-location {
          font-size: 0.92rem;
          max-width: 100px;
          text-align: end;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      &-date {
        display: flex;
        gap: 0.5rem;
        margin: 0.5rem 0;
        font-size: 0.9rem;
        color: #9c9c9c;

        &-start,
        &-end {
          span, p {
            display: inline-block;
            margin-right: 0.2rem;
            font-weight: 500;
          }
        }
      }

      &-date-description {
        line-height: 1.4;
        color: #a0a0a0;
        padding-left: 1rem;
      }
    }
  }

  // ------------------------------
  // AWARD SECTION
  // ------------------------------
  &__awardSection {
    &--item {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.1rem;

      &-subtitle {
        font-size: 1rem;
        font-weight: 600;
        color: rgb(84, 84, 84);
      }

      &-date {
        font-size: 0.9rem;
        margin: 0.3rem 0;
        color: #919191;
      }

      &-date-description {
        color: #919191;
      }
    }
  }

  // ------------------------------
  // REFERENCE SECTION
  // ------------------------------
  &__referenceSection {
    &--item {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      &-head {
        display: flex;
        flex-direction: column;
        font-size: 1rem;

        p{
        span{
          font-weight: 600;
          color: rgb(84, 84, 84);
        }
      }
      }

      &-phone {
        font-size: 0.95rem;
        color: #919191;
      }

      &-email {
        font-size: 0.95rem;
        color: #919191;
      }
    }
  }

  // ------------------------------
  // CUSTOM SECTION
  // ------------------------------
  &__customSection {
    &--item {
      margin-top: 1rem;
      color: #919191;
    }
  }
}