.cfp-overlay {
  position: fixed;
  inset: 0;
  z-index: 2000;
}

.cfp-container {
  background: #ffffff;
  border-radius: 20px;
  padding: 28px;
  width: fit-content;
  max-height: 90vh;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  position: absolute; // antes era relative/fixed
}

/* HEADER */
.cfp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
    font-size: 1.35rem;
    font-weight: 700;
    color: #222;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg{
      background-color: #55555509;
      padding: 0.3rem;
      font-size: 1.8rem;
      border-radius: 5px;
    }
  }
}

.cfp-close {
  background: transparent;
  border: none;
  font-size: 1.45rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: #3867fa;
    transform: scale(1.12);
  }
}

/* SUBTITLE */
.cfp-subtitle {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;
  font-weight: 600;
  margin-top: 26px;
  margin-bottom: 12px;

  svg {
    font-size: 1.1rem;
    color: #3867fa;
  }
}

/* GRID */
.cfp-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.cfp-box {
  background: #fafafa;
  border-radius: 14px;
  padding: 14px;
  border: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: 0.2s;
  width: fit-content;

  &:hover {
    background: #f3f3f3;
  }
}

.cfp-box-header {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  color: #555;
  font-size: 0.85rem;

  .cfp-box-icon {
    color: #3867fa;
  }
}

.cfp-text-input {
  padding: 7px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  font-size: 0.82rem;
  background: #fff;
  width: 130px;
}

.cfp-color-btn {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #d3d3d3;
}

/* TYPOGRAPHY */
.cfp-font-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cfp-font-select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #c8c8c8;
  font-size: 0.95rem;
  background: #fff;
}

/* RESET BUTTON */
.cfp-reset-btn {
  margin-top: 26px;
  width: 100%;
  padding: 13px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 12px;
  font-weight: 600;
  border: none;
  transition: 0.25s;

  svg {
    font-size: 1.15rem;
  }

  &:hover {
    background: #eeeeee;
  }

  &.disabled {
    opacity: 0.7;
    cursor: default;

    &:hover {
      background: #f5f5f5;
    }
  }
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
  }
}
