@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ─────────────────────────────────────────────── */
/* COLORES SEGÚN PROGRESO                          */
/* ─────────────────────────────────────────────── */

.progress-indicator {
  margin-left: auto;
  margin-right: 14px;
  font-size: 14px;
  font-weight: 700;
  padding: 3px 8px;
  border-radius: 7px;
  transition: 0.25s ease;
}

/* Rojo — progreso bajo */
.progress-indicator.progress-red {
  color: #ff8d8f;
  background-color: #ffc3c448;
}

/* Amarillo/Naranja — progreso medio */
.progress-indicator.progress-yellow {
  color: #ffc13b;
  background-color: #ffe96a48;
}

/* Azul — progreso completo */
.progress-indicator.progress-blue {
  color: #11d493;
  background-color: #c3ffe648;
}


// section toggle
.toggle-btn {
  background: #ffffff;
  border:  none;
  cursor: pointer;
  padding: 7px;
  border-radius: 10px;
  display: flex;
  transition: 0.25s;
  color: #3d47c5;

  svg {
    font-size: 20px;
    transition: transform 0.25s ease;
  }

  &:hover {
    background: #e6e7ff;
  }
}

.toggle-btn.open svg {
  transform: rotate(180deg);
}


.location-fields-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .field {
    margin: 0; // evita doble espaciado
  }
}


.remove-btn {
      position: absolute;
      top: 12px;
      right: 12px;
      background: #9baaaa00;
      border: none;
      border-radius: 10px;
      color: #9baaaa;
      cursor: pointer;
      display: flex;
      transition: 0.2s;

      svg {
        font-size: 1rem;
      }

      &:hover {
        color: #4d9de8;
        transform: scale(1.05);
      }
    }

    .remove-link-btn {
      background: #9baaaa00;
      border: none;
      border-radius: 10px;
      color: #9baaaa;
      cursor: pointer;
      display: flex;
      transition: 0.2s;
      font-size: 1.2rem;
      margin: auto;

      &:hover {
        color: #4d9de8;
        transform: scale(1.05);
      }
    }


.title-input {
  font-size: 20px;
  font-weight: 700;
  color: #3e3e4c63;
  outline: none;
  border: none;
  width: 180px;
  transition: 0.2s;
  width: fit-content;

  &:focus {
    background: #ffffff;
  }
}
