@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ─────────────────────────────────────────────── */
/* COLORES SEGÚN PROGRESO                          */
/* ─────────────────────────────────────────────── */

.progress-indicator {
  margin-left: auto;
  margin-right: 14px;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 0;
  border-radius: 10px;
  transition: 0.25s ease;
}

/* Rojo — progreso bajo */
.progress-indicator.progress-red {
  color: #ff8d8f;
}

/* Amarillo/Naranja — progreso medio */
.progress-indicator.progress-yellow {
  color: #ffde3b;
}

/* Azul — progreso completo */
.progress-indicator.progress-blue {
  color: #11d493;
}


// section toggle
.toggle-btn {
  background: #ffffff;
  border:  none;
  cursor: pointer;
  padding: 7px;
  border-radius: 10px;
  display: flex;
  transition: 0.25s;
  color: #3d47c5;

  svg {
    font-size: 20px;
    transition: transform 0.25s ease;
  }

  &:hover {
    background: #e6e7ff;
  }
}

.toggle-btn.open svg {
  transform: rotate(180deg);
}


.location-fields-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .field {
    margin: 0; // evita doble espaciado
  }
}
