.home-page{

    &__content{
        display: grid;
        grid-template-columns: 300px 1fr;
        padding: 0 1.5rem;
    }

    &__left{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 0.5rem;
        height: calc(100vh - 70px);
        overflow-y: hidden;
    }

    &__right{
        height: calc(100vh - 70px);
        overflow-y: scroll;
        padding-right: 1.3rem;
        margin-right: -1.4rem;
    }
}