.home-page{

    &__content{
        display: grid;
        grid-template-columns: 300px 1fr;
        padding: 0 1.5rem;
    }

    &__left{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        position: sticky;
        top: 4rem;
    }

    &__right{
        
    }
}