.remote-info-bubble {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  font-family: inherit;
}

.info-container {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #ffffff;
  padding: 5px 16px;
  border-radius: 7px;
  box-shadow: 0 0px 5px #31313100;
  border: 1px solid #00000013;
  position: relative;
}

.info-icon {
  font-size: 30px;
  color: #cead19;
  padding: 6px 0;
}

.info-text {
  font-size: 15px;
  color: #cead19;
  white-space: nowrap;
}

/* Botón de cerrar */
.close-icon {
  font-size: 20px;
  color: #515264;
  cursor: pointer;
  transition: 0.2s ease;
}

.close-icon:hover {
  color: #ff4f4f;
  transform: scale(1.15);
}
