.profile {
  width: 100%;
}

/* CARD FULL WIDTH */

.profile__card {
    min-height: 200px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.036);
  width: 100%;
  background: white;
  border-radius: 18px;
  padding: 1.4rem 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.053);
  border-top: none;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1.5rem;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

/* LEFT */

.profile__left {
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.profile__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #10b981;
  margin-right: 1rem;
}

/* INFO */

.profile__info h2 {
  margin: 0;
}

.profile__info span {
  color: #6b7280;
  font-size: 0.9rem;
}

.profile__bio {
  margin-top: 0.35rem;
  color: #374151;
  max-width: 420px;

  @media (max-width: 900px) {
    max-width: 100%;
  }
}

/* STATS CENTER */

.profile__stats {
  display: flex;
  justify-content: center;
  gap: 2.5rem;

  div {
    text-align: center;
  }

  strong {
    display: block;
    font-size: 1.25rem;
  }

  span {
    font-size: 0.85rem;
    color: #6b7280;
  }

  @media (max-width: 900px) {
    margin-top: 1rem;
  }
}

/* ACTIONS RIGHT */

.profile__actions {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  @media (max-width: 900px) {
    justify-content: center;
    margin-top: 1rem;
  }
}

.profile__actions button {
  border-radius: 10px;
  padding: 0.55rem 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: 0.15s;
}

/* SHARE */

.shareBtn {
  background: #eef2f7;
  color: #111827;

  &:hover {
    background: #e5e7eb;
  }
}

/* EDIT */

.editBtn {
  background: #10b981;
  color: white;

  &:hover {
    background: #0ea371;
  }
}
