// components/floating-editor/floatingeditor.scss

.floating-editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  max-width: 530px;
  max-height: 75vh; // Limita la altura
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.floating-editor__header {
  background: #85dbb7;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: grab;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span{
    font-weight: 600;
  }
}

.floating-editor__header:active {
  cursor: grabbing;
}

.floating-editor__header span {
  flex: 1;
  text-align: center;
}

.floating-editor__content {
  padding: 16px;
  overflow-y: auto;
  max-height: calc(80vh - 50px); // Header + content max
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.floating-editor__empty {
  padding: 20px;
  text-align: center;
  color: #666;
  font-size: 14px;
}

.floating-editor__close{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 1.5rem;
    margin-bottom: -0.4rem;
    cursor: pointer;
}



@media (max-width: 560px) { 
  .floating-editor{
    width: fit-content;
  }
}