.explore{
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    padding: 4rem 0rem;

    &__content{
        display: flex;
        padding: 0 20px;
        gap: 0rem;

        &--left{
            width: 270px;
            background-color: rgba(61, 143, 115, 0);
        }

        &--right{
            width: calc(100vw - 310px);
            background-color: rgba(47, 53, 58, 0);
        }
    }

    &__topbar{
        position: fixed;
        top: 0rem;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        z-index: 100;
        background-color: white;
        padding: 0.8rem 2rem;
    }

    &__end{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__saved{
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.132);
        font-size: 1.5rem;
        color: rgb(135, 135, 135);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
        cursor: pointer;
    }
}