.explore{
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0rem;

    &__topbar{
        position: sticky;
        top: 4.5rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        z-index: 100;
        background-color: white;
        padding: 0.1rem 2rem;
    }

    &__end{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__saved{
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.132);
        font-size: 1.5rem;
        color: rgb(135, 135, 135);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
        cursor: pointer;
    }
}