.explore{
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0rem;

    &__topbar{
        position: sticky;
        top: 4.5rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        z-index: 100;
        background-color: white;
        padding: 0.1rem 2rem;
    }
}