.water-mark {
  position: absolute;
  inset: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none; // NO bloquea clics
  z-index: 1;

  opacity: 0.047; // semitransparente
  transform: rotate(-35deg);

  p {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: #000;
    text-transform: uppercase;
    white-space: nowrap;

    user-select: none;
  }
}