/* ===============================
   CV RIO – REFERENCE SECTION
=============================== */

.cv-rio__referenceSection {
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 15px;

  &:hover {
    background-color: #00ccff09;
    border: 1px solid #00ccff13;
    box-shadow: 0px 0px 2px #00ccff27;
  }

  &--title {
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 0.5rem;
    color: black;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: #000;
    }
  }

  /* ---- Items individuales ---- */
  &--item {
    margin-top: 1rem;

    &-head {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      font-weight: 600;

      /* nombre de la referencia */
      &-name {
        font-size: 1rem;
      }

      /* empresa u organización */
      &-role {
        font-size: 0.9rem;
        opacity: 0.8;
      }
    }

    /* teléfono */
    &-phone {
      font-size: 0.9rem;
      margin-top: 0.3rem;
    }

    /* correo */
    &-email {
      font-size: 0.9rem;
      margin-top: 0.2rem;
      word-break: break-all;
    }
  }
}
