.education-section {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 22px;
  transition: all 0.25s ease;

  margin: 0 28px;
  margin-right: 0;
  padding-top: 4px;
  padding-bottom: 10px;

  &.closed {
    padding-top: 4px;
    padding-bottom: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #8a9999;
      margin: 0;

      svg{
      font-size: 1.8rem;
      margin-right: 0.5rem;
      margin-bottom: -0.35rem;
    }
    }
  }

  .education-section__content {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-left: -4.7rem;
  }

  &__dates{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .education-card {
    border-radius: 18px;
    padding: 20px;
    position: relative;
    border: 2px dashed #9fadad29;
  background: #9baaaa00;

    .remove-btn {
      position: absolute;
      top: 12px;
      right: 12px;
      background: #ff6161;
      border: none;
      padding: 8px;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      display: flex;
      transition: 0.2s;

      svg{
        font-size: 0.7rem;
      }

      &:hover {
        background: #e84d4d;
        transform: scale(1.05);
      }
    }
  }

  .card-grid {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &.full {
      grid-column: 1/-1;
    }

    label {
      font-size: 13px;
      font-weight: 600;
      color: #3e3e4c;
    }

    input,
    select,
    textarea {
      padding: 11px 14px;
      border-radius: 12px;
      border: 1px solid #9fadad29;
      font-size: 15px;
      background: #9baaaa0d;
      transition: 0.2s ease;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(90, 85, 255, 0.2);
        background: white;
      }
    }

    textarea {
      resize: none;
      min-height: 90px;
    }
  }

  .double {
    display: flex;
    gap: 10px;
  }

  .present-toggle {
    margin-top: 6px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .add-btn {
    background: #9baaaa0d;
    border: 1px solid #9baaaa0d;
    color: #9baaaa;
    padding: 11px 18px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #9baaaa1d;
      transform: translateY(-1px);
    }
  }
}



.add-extra-btn{
    background: #9baaaa0d;
    border: 1px solid #9baaaa0d;
    color: #9baaaa;
    padding: 11px 18px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;
    width: fit-content;

    &:hover {
      background: #9baaaa0d;
      transform: translateY(-1px);
    }
  }