.switch-navbar {
  display: flex;
  justify-content: center;
  width: fit-content;

  &__track {
    position: relative;
    display: flex;
    background: #f7f7f7;
    border-radius: 50px;
    padding: 4px;
    gap: 0.3rem;
    width: fit-content;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    overflow: hidden;
  }

  &__indicator {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    border-radius: 40px;
    background: #c9cbcc;
    box-shadow: 0 2px 6px #c9cbcc;
    transition: all 0.3s ease;
    z-index: 1;
    display: flex;
  }

  &__option {
    position: relative;
    z-index: 2;
    padding: 8px 18px;
    border-radius: 50px;
    font-size: 14px;
    color: #7f7f7f;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.2s ease;
    white-space: nowrap;
    user-select: none;
    justify-content: center;

    &:hover {
      color: #949494;
    }

    &.active {
      color: #ffffff;
      span{
        font-weight: 500;
      }
    }

    svg {
      font-size: 1rem;
    }

    span {
      font-size: 0.9rem;
    }
  }
  
  .explore-navbar__num{
    font-size: 0.8rem;
  }
}
