/* ===============================
   CV RIO – HOBBIE SECTION
=============================== */

.cv-rio__hobbieSection {
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 15px;

  &:hover {
    background-color: #00ccff09;
    border: 1px solid #00ccff13;
    box-shadow: 0px 0px 2px #00ccff27;
  }

  /* ----- Título ----- */
  &--title {
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 0.6rem;
    color: black;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: #000;
    }
  }

  /* ----- Contenedor de chips ----- */
  &--list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.45rem;
  }

  /* ----- Chip individual ----- */
  &--item {
    display: inline-block;
    padding: 0.35rem 0.65rem;

    background-color: #ffffff;
    border-radius: 6px;

    font-size: 0.85rem;
    font-weight: 500;
    color: #000;

    border: 1px solid #051235;
    transition: background 0.2s ease, border 0.2s ease, opacity 0.2s ease;

    &:hover {
      background-color: #eef7ff;
      opacity: 0.9;
    }
  }
}
