/* ================================
   LANGUAGE SECTION
================================ */
.cv-rio__languajeSection {
  &--item {
    margin-top: 0.9rem;

    &-name {
      font-weight: 600;
      font-size: 0.95rem;
    }

    &-level {
      font-size: 0.9rem;
      opacity: 0.8;
    }
  }

  /* Encabezado idioma + nivel */
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Contenedor de la barra */
  &--progress {
    margin-top: 0.35rem;
    width: 100%;
    height: 6px;
    background-color: #dcdcdc; // gris suave
    border-radius: 4px;
    overflow: hidden;
  }

  /* Barra interna */
  &--progress-bar {
    height: 100%;
    background-color: #051235; // negro sólido
    border-radius: 4px;
    transition: width 0.4s ease;
  }
}
