.vertical-toolbar-cv {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #ffffff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 50;
}

.vertical-toolbar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid rgba(90, 110, 255, 0.15);
  background: #ffffff;
  cursor: pointer;
  transition: 0.25s ease;
  font-size: 20px;
  color: #2e325a;

  &:hover {
    border-color: rgba(66, 76, 255, 0.3);
    color: #0073ff;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.vertical-toolbar-btn svg {
  pointer-events: none;
}

.toolbar-toggle {
  display: none;
}


/* =========================
   MOBILE TOOLBAR
========================= */
@media (max-width: 820px) { 
  .vertical-preview{
    display: none;
  }
}

@media (max-width: 500px) {
  .toolbar-toggle {
    display: flex;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 60px;
    border-radius: 12px 0 0 12px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    z-index: 60;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
  }

  .vertical-toolbar-cv {
    right: -90px;
    transition: right 0.3s ease;
  }

  .vertical-toolbar-cv.open {
    right: 50px;
  }
}
