.activity-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__topbar{
        position: sticky;
        top: 0.3rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        background-color: white;
        padding: 0.2rem 0;
    }
}