.create-cv{
    padding: 5.7rem 0rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    overflow-y: hidden;

    &__body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        height: 100%;
    }

    &__left{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: scroll;
        padding-right: 1rem;

        &--sections{
            display: flex;
            flex-direction: column;
            gap: 1rem;  
        }
    }

    &__right{
        position: sticky;
        top: 6rem;
        border: 1px solid black;
        height: 95%;
        overflow-y: scroll;
        padding-right: 1rem;
    }
}