.create-cv {
  padding: 6rem 0rem;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #f1f1f1; // fondo blanco

  /* Mantener contenido encima */
  &__template {
    width: fit-content;
    position: relative;
    z-index: 10;
    
  }

  &__main{
    display: grid;
    grid-template-columns: 500px 1fr;
  }
}
