.create-cv {
  padding: 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  overflow-y: hidden;

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    padding-right: 1rem;

    &--sections {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__right {
    position: sticky;
    top: 6rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    height: 95%;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.template-selector {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  button {
    padding: 0.2rem 1rem;
    background: #fff;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s;
    border: none;

    &:hover {
      background: #f0f0ff;
    }

    &.active {
      border-color: #5a6eff;
      background: #e0e4ff;
      font-weight: bold;
    }
  }
}

.template-preview {
  flex: 1;
  overflow-y: auto;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #fafafa;
}
