.create-cv {
  padding: 6rem 0rem;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #f3f4f5; // fondo blanco

  /* Mantener contenido encima */
  &__template {
    display: flex;
    justify-content: center;
    margin-left: 4.5rem;
  }
}
