.youtube {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 56.25%; // 16:9

  &__iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1rem;
    background: #000;
  }
}
