.custom-section {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.25s ease;

  margin: 0 28px;
  margin-right: 0;
  padding-top: 4px;
  padding-bottom: 10px;

  &.closed {
    padding-top: 4px;
    padding-bottom: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #8a9999;
      margin: 0;

      svg{
      font-size: 1.8rem;
      margin-right: 0.5rem;
      margin-bottom: -0.35rem;
    }
 }

    .section-title {
      flex: 1;
      padding: 8px 15px;
      border-radius: 14px;
      border: 1px solid rgba(120, 144, 255, 0.25);
      font-size: 15px;
      font-weight: 300;
      background: #fbfbff;
      transition: 0.2s;
      border: none;
      color: #8a9898;

      &:focus {
        outline: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-left: -4.7rem;
  }

  .item-card {
    border-radius: 18px;
    padding: 22px;
    border: 2px dashed #9fadad29;
    background: #9baaaa00;
    position: relative;
    transition: 0.2s;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &.full {
      width: 100%;
    }

    label {
      font-size: 13px;
      font-weight: 600;
      color: #3e3e4c;
    }

    input,
    textarea {
      padding: 12px 14px;
      border-radius: 12px;
      border: 1px solid #9baaaa0d;
      font-size: 15px;
      background: #9baaaa0d;
      transition: 0.2s ease;

      &:focus {
        outline: none;
        background: #9baaaa0d;
      }
    }

    textarea {
      resize: none;
      min-height: 70px;
    }
  }

  .add-btn,
  .add-link-btn {
    background: #9baaaa0d;
    border: 1px solid #9baaaa0d;
    color: #9baaaa;
    padding: 12px 18px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #9baaaa1a;
      transform: translateY(-1px);
    }
  }
}

.toggle-btn {
  svg {
    font-size: 20px;
  }
}

.toggle-btn-custom {
  margin-left: -0.8rem;
}


/* Link input fila completa */
.link-input-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;

  .link-input-container {
    display: flex;
    width: 100%;
    gap: 6px;
    
    input {
      flex: 1;
    }
  }
}

