.custom-section {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.056);
  transition: all 0.25s ease;

  border-bottom: 1px solid rgba(0, 0, 0, 0.056);
  margin: 0 28px;
  padding-top: 20px;
  padding-bottom: 20px;

  &.closed {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    svg{
      font-size: 1.8rem;
      margin-right: 0rem;
      margin-bottom: 0rem;
      color: #8a9999;
    }

    .section-title {
      flex: 1;
      padding: 8px 15px;
      border-radius: 14px;
      border: 1px solid rgba(120, 144, 255, 0.25);
      font-size: 15px;
      font-weight: 300;
      background: #fbfbff;
      transition: 0.2s;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .item-card {
    border-radius: 18px;
    padding: 22px;
    border: 2px dashed #9fadad29;
    background: #9baaaa0d;
    position: relative;
    transition: 0.2s;

    .remove-btn {
      position: absolute;
      top: 14px;
      right: 14px;
      background: #ff6161;
      border: none;
      padding: 8px 10px;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
      transition: 0.2s;

      svg{
        font-size: 0.7rem;
      }

      &:hover {
        background: #e84d4d;
        transform: scale(1.05);
      }
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &.full {
      width: 100%;
    }

    label {
      font-size: 13px;
      font-weight: 600;
      color: #3e3e4c;
    }

    input,
    textarea {
      padding: 12px 14px;
      border-radius: 12px;
      border: 1px solid #9fadad29;
      font-size: 15px;
      background: #ffffff;
      transition: 0.2s ease;

      &:focus {
        border-color: #4f56ff;
        outline: none;
        box-shadow: 0 0 0 3px rgba(90, 85, 255, 0.2);
        background: white;
      }
    }

    textarea {
      resize: none;
      min-height: 70px;
    }
  }

  .add-btn,
  .add-link-btn {
    background: #f6f6ff;
    border: 1px solid #cdcfff;
    color: #3842cb;
    padding: 12px 18px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #eceaff;
      border-color: #b6bdff;
      transform: translateY(-1px);
    }
  }
}

.toggle-btn {
  svg {
    font-size: 20px;
  }
}

.toggle-btn-custom {
  margin-left: -0.8rem;
}


/* Link input fila completa */
.link-input-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;

  .link-input-container {
    display: flex;
    width: 100%;
    gap: 6px;
    
    input {
      flex: 1;
    }

    .remove-link-btn {
      background: #ff6161;
      border: none;
      padding: 6px;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      display: flex;
      transition: 0.2s;

      &:hover {
        background: #e84d4d;
        transform: scale(1.05);
      }
    }
  }
}

