.job-page {
  width: 100%;
  font-family: "Inter", sans-serif;
  background: #f8f8f8;
  color: #0f0f2a;
  animation: fadeIn 0.8s ease;
  overflow-x: hidden;
  padding: 2rem;
  padding-bottom: 0;

  &__hero-page {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 0 20px 2rem;
  }

  &__commissions {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
  }

  &__offer {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__title {
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  &__highlight {
    color: #ffb120;
    font-weight: 500;
  }

  &__subtitle {
    color: #818181;
    max-width: 500px;
  }

  /* ===== BADGE ===== */
  &__badge {
    padding: 0.45rem 1rem;
    border-radius: 999px;
    background: #fff;
    border: 1px solid rgba(255, 207, 51, 0.4);
    font-size: 1.1rem;
    font-weight: 600;
    animation: fadeIn 0.6s ease;
    width: fit-content;
    margin-top: 1rem;

    .job-page__typewriter {
      color: #ffbb00;
      font-weight: 800;
      width: fit-content;

      &.light {
        color: #111;
        font-weight: 300;
      }
    }
  }
}

.more-p{
  padding-bottom: 3rem;
  background-color: #f8f8f8;
}

/* ================= ANIMACIONES ================= */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
  .job-page {
    &__title {
      margin-top: 6rem;
      font-size: 2.1rem;
    }

    &__badge {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .job-page {
    &__title {
      margin-top: 0;
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1rem;
    }
  }
}

.job-page {
  position: relative;
  background: #f8f8f8;
  overflow-x: hidden;
  padding-top: 130px;
}

/* ================= WAVE TOP ================= */

.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 120px;
  display: flex;
  animation: waveScroll 16s linear infinite;
  pointer-events: none;
  z-index: 1;

  &__svg {
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    path {
      fill: #ffffff;
    }
  }
}

/* Movimiento PERFECTO */
@keyframes waveScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
  .wave-top {
    height: 90px;
  }

  .job-page {
    padding: 0;
    padding-top: 90px;
    padding-bottom: 30px;
  }

  .job-page__offer{
    display: flex;
    flex-direction: column;

    &-box{
      padding: 0 1rem;
      text-align: center;
    }
  }
}
