.navbar{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    padding: 0.7rem 1rem;

    &__logo{
        display: flex;
        align-items: center;
        gap: 0.3rem;

        &-icon{
            font-size: 1.8rem;
        }

        span{
            font-size: 1.35rem;
            font-weight: 600;
        }
    }


    &__end{
        display: flex;
        align-items: center;
        gap: 4rem;
    }
}