.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e621;
  padding: 16px 30px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.03);

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__settings{
    font-size: 1.3rem;
  }

  &__pricing{
    font-size: 1.1rem;
  }

  /* LOGO */
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .logo-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      color: #181818;
    }

    .logo-text {
      font-size: 21px;
      font-weight: 800;
      color: #181818;
      letter-spacing: -0.5px;
    }
  }

  /* DESKTOP LINKS */
  &__links {
    list-style: none;
    display: flex;
    gap: 15px;

    .link {
      font-size: 16px;
      color: #95a0a8;
      cursor: pointer;
      transition: 0.2s ease;
      padding: 4px 10px;
      border-radius: 8px;
      border: 1px solid transparent;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 0.3rem;

      &:hover {
        color: #0099ff;
        border-color: #0099ff;
      }

      &:last-child:hover {
        color: rgba(216, 174, 35, 0.774);
        border-color: rgba(216, 174, 35, 0.774);
      }
    }

    @media (max-width: 950px) {
      display: none;
    }
  }

  /* ACTION BUTTONS */
  &__actions {
    display: flex;
    align-items: center;
    gap: 14px;

    .login {
      background: transparent;
      border: none;
      font-size: 15.5px;
      cursor: pointer;
      color: #333;
      transition: 0.25s;
      border-left: 1px solid rgba(0, 0, 0, 0.093);
      padding-left: 1rem;
      margin-left: -2rem;

      &:hover {
        color: #0073ff;
      }
    }

    .signup {
      padding: 10px 22px;
      background: #0073ff;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 15.5px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.25s ease;

      &:hover {
        background: #005fcc;
        transform: translateY(-1px);
      }
    }

    @media (max-width: 950px) {
      display: none;
    }
  }
}

/* ESTILO DE ACTIVE PARA DESKTOP */
.navbar__links .link.active {
  color: #0099ff;
  border-color: #0099ff;
  font-weight: 600;
}

.navbar__links .link:last-child.active {
  color: rgba(216, 174, 35, 0.774);
  border-color: rgba(216, 174, 35, 0.774);
  font-weight: 600;
}

.jobs-pulse {
  animation: jobs-pulse 5s ease-in-out infinite;
}

@keyframes jobs-pulse {
  0%   { color: rgba(216, 174, 35, 0.84); }   /* Amarillo */
  33%  { color: #95a0a8; }   /* Azul */
  100% { color: rgba(216, 174, 35, 0.84); }   /* Amarillo */
}
