.navbar {
  position: fixed;
  top: 0;
  left: 5.5rem;
  right: 0;
  height: 74px;
  z-index: 40;
  background: #ffffff;

  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Inter", sans-serif;

  // LOGO + TÍTULO
  &__left {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
  }

  &__logo {
    width: 36px;
    height: 36px;
    color: #2b6cb0;
  }

  &__title {
    font-size: 1.55rem;
    font-weight: 600;
    color: #1a365d;
    letter-spacing: 0.6px;

    &--strong {
      color: #2b6cb0;
      font-weight: 800;
    }
  }


  // SECCIÓN DERECHA (saludo)
  &__right {
    display: flex;
    align-items: center;
  }
}
