.toolbar-cv-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 12px 0px;
  position: sticky;
  top: 0;
  z-index: 30;
}

.toolbar-cv-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.toolbar-cv-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  background: transparent;
  border: none;
  cursor: pointer;

  border-radius: 10px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
  color: #2e325a;
  transition: 0.25s ease;

  svg {
    font-size: 16px;
    transition: 0.25s ease;
  }

  &:hover {
    color: #0073ff;
  }

  &:active {
    transform: scale(0.97);
  }

  &.ghost {
    border: 1px solid rgba(90, 110, 255, 0.15);

    &:hover {
      border-color: rgba(66, 76, 255, 0.3);
    }
  }

  &.icon-btn {
    padding: 9px;
    border-radius: 8px;
    border: 1px solid rgba(90, 110, 255, 0.15);

    svg {
      font-size: 18px;
    }

    &:hover {
      border-color: rgba(66, 76, 255, 0.3);
      color: #0073ff;
    }
  }

  &.success {
    border-color: rgba(0, 179, 126, 0.3);

    &:hover {
      border-color: rgba(0, 179, 126, 0.6);
      color: #00b37e;
    }
  }
}

.toolbar-cv-end {
  display: flex;
  gap: 0.5rem;
}

/* SWITCH */
.toolbar-cv-switch {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  input {
    display: none;
  }

  .toolbar-cv-switch-label {
    font-size: 14px;
    font-weight: 600;
    color: #2e325a;
  }

  .toolbar-cv-slider {
    width: 36px;
    height: 18px;
    background: #d1d3e0;
    border-radius: 20px;
    position: relative;
    transition: 0.25s ease;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 2px;
      left: 2px;
      background: white;
      border-radius: 50%;
      transition: 0.25s ease;
      box-shadow: 0 0 4px rgba(0,0,0,0.2);
    }
  }

  input:checked + .toolbar-cv-slider {
    background: #0073ff;

    &::before {
      transform: translateX(18px);
    }
  }
}
