.contact-section {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-bottom: 20px;
  transition: all 0.25s ease;
  padding-top: 4px;
  padding-bottom: 10px;

  &.closed {
    padding-top: 4px;
    padding-bottom: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #8a9999;
      margin: 0;

      svg {
        font-size: 1.8rem;
        margin-right: 0.5rem;
        margin-bottom: -0.35rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .contact-card {
    border-radius: 18px;
    padding: 20px;
    border: 2px dashed #9fadad29;
    background: #9baaaa00;
    position: relative;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 18px;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
      font-size: 13px;
      font-weight: 600;
      color: #3e3e4c;
    }

    input {
      padding: 11px 14px;
      border-radius: 12px;
      border: 1px solid #9fadad29;
      font-size: 15px;
      background: #9baaaa0d;
      transition: 0.2s ease;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(90, 85, 255, 0.2);
        background: white;
      }
    }
  }

  .add-btn {
    background: #9baaaa0d;
    border: 1px solid #9baaaa0d;
    color: #9baaaa;
    padding: 11px 18px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #9baaaa1e;
      transform: translateY(-1px);
    }
  }

  .add-btn-full{
    width: 100%;
  }
}

/* ---- TÍTULO EDITABLE ---- */

.editable-title {
  display: flex;
  align-items: center;
}

.title-display {
  font-size: 20px;
  font-weight: 700;
  color: #8a9999;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.2s;

  &:hover {
    color: #6f7c7c;
  }

  svg {
    font-size: 1.8rem;
    margin-bottom: -0.35rem;
  }
}

.empty-state{
  padding: 0;
  margin: -3rem 0;
  height: fit-content;
}
