.courses-section {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 22px;
  transition: all 0.25s ease;
  padding-top: 4px;
  padding-bottom: 10px;

  &.closed {
    padding-top: 4px;
    padding-bottom: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #8a9999;
      margin: 0;

      svg{
      font-size: 1.8rem;
      margin-right: 0.5rem;
      margin-bottom: -0.35rem;
    }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .course-card {
    border-radius: 18px;
    padding: 20px;
    border: 2px dashed #9fadad29;
    background: #9baaaa00;
    position: relative;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 18px;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &.full {
      grid-column: 1/-1;
    }

    label {
      font-size: 13px;
      font-weight: 600;
      color: #3e3e4c;
    }

    input,
    textarea {
      padding: 11px 14px;
      border-radius: 12px;
      border: 1px solid #9baaaa0d;
      font-size: 15px;
      background: #9baaaa0d;
      transition: 0.2s ease;

      &:focus {
        outline: none;
        background: 9baaaa0d;
      }
    }

    textarea {
      resize: none;
      min-height: 80px;
    }
  }

  .double {
    display: flex;
    gap: 10px;

    .remote-checkbox {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .location-fields {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        flex: 1;
      }
    }
  }

  .courses-link-input-row {
    width: 100%;
    display: flex;
    gap: 6px;
    align-items: center;

    input {
      flex: 1;
    }
  }

  .add-btn,
  .add-link-btn {
    background: #9baaaa0d;
    border: 1px solid #9baaaa0d;
    color: #9baaaa;
    padding: 11px 18px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #9baaaa25;
      transform: translateY(-1px);
    }
  }

  .add-link-btn{
    background: #9baaaa0d;

    &:hover {
      background: #9baaaa22;
      transform: translateY(-1px);
    }
  }
}