.hero {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  color: #e4e4e4;
  padding: 2rem 2.5rem;
  width: 95%;
  margin: 1.5rem auto 0;
  height: 280px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  background-image:
    linear-gradient(
      120deg,
      rgba(4, 15, 45, 0.92) 60%,
      rgba(255, 204, 35, 0.541) 100%
    ),
    url("https://www.gifcen.com/wp-content/uploads/2022/01/wallpaper-gif-9.gif");

  &__container {
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 4rem;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__left {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__headline {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.1;

    span {
      color: #ffc400;
      font-weight: 700;
    }
  }

  &__subheadline {
    font-size: 1.1rem;
    color: #848484;
    max-width: 520px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
  }

  &__cta {
    background: #ffffff;
    border-radius: 1.25rem;
    padding: 1.8rem 2rem 1.8rem;
    box-shadow: 0 10px 30px rgba(15, 23, 42, 0.08);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 410px;
    height: 300px;
    margin-bottom: -5rem;

    p {
      max-width: 300px;
      color: black;
    }
  }
}

/* CTA INNER */
.home-page__offer {
  display: flex;
  flex-direction: column;

  p{
    color: rgb(127, 127, 127);
    
    strong{
      color: #ffbb00;
    font-weight: 600;
    }
  }
}

.home-page__job {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(127, 127, 127);

  span {
    color: #ffbb00;
    font-weight: 500;
  }
}

/* Responsive */
@media (max-width: 700px) {
  .hero {
    padding: 5rem 1rem 6rem;

    &__left {
      max-width: 100%;
      text-align: center;
    }

    &__headline {
      font-size: 2rem;
    }

    &__subheadline {
      font-size: 0.95rem;
      max-width: 100%;
    }

    &__cta {
      display: none;
    }
  }

  .home-page__job {
    font-size: 1.4rem;
  }
}
