/* ============================
   PROFILE AVATAR COMPONENT
============================ */
.profile-avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ----------------------------
   SUBSCRIPTION BADGE
----------------------------- */
.subscription-badge {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid transparent;

  font-size: 13px;
  font-weight: 500;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease;
  white-space: nowrap;
  
}

.subscription-badge__icon {
  font-size: 1.1rem;
  opacity: 0.9;
}

.subscription-badge__text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.subscription-badge__title {
  font-weight: 700;
  font-size: 12.5px;
}

.subscription-badge__subtitle {
  font-size: 11.5px;
  opacity: 0.9;
}

/* ----- VIP STYLE: Premium & elegante ----- */
.subscription-badge.vip {
  background-color: rgb(255, 255, 255);
  border-color: #ffd667;
  color: #ffbb00;
  font-weight: 500;
}

/* ----- FREE STYLE: Minimalista & neutro ----- */
.subscription-badge.free {
  background: #ffffff;
  border-color: #008cff42;
  color: #008cff;
}

/* ----------------------------
   AVATAR BUTTON
----------------------------- */
.profile-avatar-btn {
  position: relative;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 100%;
  font-size: 1rem;
  background: #ffffff;
  border-color: #ffbb00;
  color: #ffbb00;

  display: flex;
  align-items: center;

  &:hover {
    transform: scale(1.1);
  }
}

.profile-avatar{
  &__actions {
    gap: 14px;
    display: flex;
    align-items: center;
    white-space: nowrap;

    .login {
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -0.05rem;
        margin-left: -2rem;
        gap: 0.8rem;
        color: #535353;
        font-size: 0.9rem;
        position: relative;
      padding-bottom: 7px;   /* espacio entre texto y borde */
      white-space: nowrap;

        &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0.4rem;
        width: 30px;     /* <<--- el borde llega solo a la mitad */
        height: 2px;
        border-radius: 100px;
        background: #ffbb00;
      }

        &:hover{
          color: #000000;
        }

      svg {
        background: #efefef;
        border: 1px solid #cacaca;
        padding: 0.4rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        color: #ffbb00;
  border-color: #ffbb00;
  background: rgb(255, 255, 255);
      }
    }
  }
}








@media (max-width: 450px) { 
  .profile-avatar{
    &__actions{
      .login{
      gap: 0.6rem;
      padding-bottom: 7px;
    }
    }
  }
}

