/* ============================
   PROFILE AVATAR COMPONENT
============================ */
.profile-avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ----------------------------
   SUBSCRIPTION BADGE
----------------------------- */
.subscription-badge {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid transparent;

  font-size: 13px;
  font-weight: 500;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease;
  white-space: nowrap;
  
}

.subscription-badge__icon {
  font-size: 1.1rem;
  opacity: 0.9;
}

.subscription-badge__text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.subscription-badge__title {
  font-weight: 700;
  font-size: 12.5px;
}

.subscription-badge__subtitle {
  font-size: 11.5px;
  opacity: 0.9;
  margin-top: 2px;
}

/* ----- VIP STYLE: Premium & elegante ----- */
.subscription-badge.vip {
  background-color: rgb(255, 255, 255);
  border-color: #008cff42;
  color: #008cff;
  font-weight: 500;
}

/* ----- FREE STYLE: Minimalista & neutro ----- */
.subscription-badge.free {
  background: #f3f4f6;
  border-color: #e5e7eb;
  color: #6b7280;
}

/* ----------------------------
   AVATAR BUTTON
----------------------------- */
.profile-avatar-btn {
  position: relative;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 100%;
  font-size: 1.2rem;

  display: flex;
  align-items: center;

  &:hover {
    transform: scale(1.1);
  }
}










@media (max-width: 1100px) { 
  .profile-avatar-wrapper{
    margin-right: -1rem;
    justify-content: space-between;
    width: 330px;
  }
}

@media (max-width: 550px) { 
  .profile-avatar-wrapper{
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    width: 320px;
    margin-right: -0.4rem;
  }
}