.job-post{
  padding: 2rem;
  padding-bottom: 0;
}

.affiliate-link{
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.affiliate-invitation {
  margin: 5rem 0 0rem;
  margin-bottom: -4rem;
  width: 100%;
  padding: 2.5rem 3rem;
  height: fit-content;
  background: linear-gradient(180deg, #f8f8f8 0%, #fbfafe 100%);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0px 30px #00030411;
  border: 3px solid rgb(255, 255, 255);

  span{
    color: #5586f7;
    font-weight: 400;
    font-size: 2rem;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #111111;
    max-width: 800px;
    line-height: 1.2;
    margin: 0;
    text-align: start;
    max-width: 600px;
  }

  .affiliate-subtitle {
    font-size: 1.25rem;
    color: #444444;
    max-width: 760px;
    line-height: 1.5;
    margin: 0;
    text-align: start;

    strong {
      color: #02032e;
      font-weight: 500;
    }
  }

  .affiliate-btn {
    margin-top: 1.5rem;
    padding: 1.1rem 1.8rem;
    font-size: 1.15rem;
    font-weight: 600;
    background: linear-gradient(90deg, #10b981, #10b981);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 10px 30px #10b98152;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 20px 40px #10b98164;
    }

    &:active {
      transform: translateY(-1px);
    }
  }
}