.job-offer {
  display: flex;
  flex-direction: column;

  &__card {
    background: #fff;
    border-radius: 16px;
    padding: 1.8rem 1.8rem;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 360px;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.041);
  }

  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 0.5rem;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #e5e7eb;
    font-weight: 500;
    color: #374151;

    span{
      font-size: 0.95rem;
    }
  }

  &__action {
    background: #f8fafc;
    border-radius: 14px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__note {
    font-size: 0.75rem;
    text-align: center;
    color: rgb(176, 176, 176);

    span{
      color: rgb(112, 112, 112);
    }

    strong {
      text-decoration: underline;
      font-weight: 500;
      color: rgb(53, 53, 53);
    }
  }
}

.apply-button {
  background: #f0be36;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 0.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  font-size: 0.95rem;

  &:hover {
    background: #4338ca;
  }

  &.pending {
    background: #94a3b8;
  }

  &.success {
    background: #16a34a;
  }
}



/* RESPONSIVE */
@media (min-width: 768px) {
  .job-offer__card {
    align-items: center;
    max-width: 640px;
  }

  .job-offer__action {
    width: 240px;
  }
}
