.hobbies-section {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 18px;
  transition: all 0.25s ease;

  margin: 0 28px;
  margin-right: 0;
  padding-top: 4px;
  padding-bottom: 10px;

  &.closed {
    padding-top: 4px;
    padding-bottom: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #8a9999;
      margin: 0;

      svg{
      font-size: 1.8rem;
      margin-right: 0.5rem;
      margin-bottom: -0.35rem;
    }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: -4.7rem;
  }

  .hobby-card {
    display: flex;
    gap: 10px;
    align-items: center;

    input {
      flex: 1;
      padding: 10px 14px;
      border-radius: 12px;
      border: 1px solid #9fadad29;
      font-size: 15px;
      background: #9baaaa0d;
      transition: 0.2s ease;

      &:focus {
        outline: none;
        background: #9baaaa0d;
      }
    }
  }

  .add-btn {
    background: #9baaaa0d;
    border: 1px solid #9baaaa0d;
    color: #9baaaa;
    padding: 11px 18px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #9baaaa20;
      transform: translateY(-1px);
    }
  }
}


.hobbies-section {

  .hobby-card {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

  }
}
