.preview-popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
  padding-top: 20px;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
}

.preview-popup__inner {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.preview-popup__header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px;
  position: fixed;
  top: 0.5rem;
  right: 1rem;
}

.preview-popup__close,
.preview-popup__download {
  background: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.preview-popup__content {
  background: rgba(107, 107, 107, 0);
  padding: 4rem;
  margin: 0;
}

.movile-text{
  display: none;
}

/* Evitar páginas en blanco */
@media print {
  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .preview-popup {
    position: static !important;
    background: none !important;
    overflow: visible !important;
  }

  .preview-popup__header {
    display: none !important;
  }

  .preview-popup__content {
    margin: 0 !important;
    padding: 0 !important;
    scale: 1;
  }
  .movile-text{
  display: none;
}
}

@media (max-width: 820px){
  .movile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
  }
}