.video-page{
    display: flex;
    padding: 1rem 3rem;
    gap: 2rem;
    justify-content: space-between;

    &__container{
        width: 100%;
        max-width: 1220px;
        
        
        &--content{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1rem;
        }
    }

    &__request{
        width: 500px;
    }
}