.video-page{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;

    &__container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }

    &__select{
        position: sticky;
        top: 4rem;
        z-index: 10;
        background-color: white;
    }
}