.search-bar {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1); // borde negro suave
    border-radius: 8px;
    padding: 0.4rem 1rem;
    width: 280px;
    height: 40px;
  
    .icon {
      color: #444;
      margin-right: 0.5rem;
    }
  
    input {
      border: none;
      outline: none;
      font-size: 1rem;
      width: 100%;
      background: transparent;
      color: #333;
  
      &::placeholder {
        color: #aaa;
      }
    }
  }
  

@media (max-width: 700px) {
  .search-bar {
    width: 220px;
  }
}