.request-page{
    display: flex;
    padding: 1rem 3rem;
    gap: 2rem;
    justify-content: space-between;

    &__container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        width: 100%;
        max-width: 1300px;
    }

    &__request{
        width: 500px;
    }
}