/* CONTENEDOR */
.add-sections {
  width: 310px;
  height: 420px;
  position: absolute;
  bottom: 0rem;
  right: -19.8rem;

  background: #ffffff;
  border-radius: 14px;
  padding: 18px 20px;
  padding-right: 10px;

  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border: 1px solid #ececec;
  z-index: 50;

  display: flex;
  flex-direction: column;
}

/* LISTA */
.as-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-right: 6px;
  padding: 1rem;
  padding-left: 0.2rem;

  overflow-y: auto;
  height: 100%;
  margin-top: 4px;

  scrollbar-width: thin;
  scrollbar-color: #c6c6c6 #f2f2f2;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c6c6c6;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
}

/* ITEM BASE */
.as-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 16px;
  border-radius: 12px;

  background: #ffffff;
  border: 1px solid #e4e4e4;

  cursor: pointer;
  transition: all 0.22s ease;

}

/* ITEM ACTIVADO */
.as-item.enabled {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.12);

  .as-icon-box svg {
    color: #0b1727b4;
  }

  .as-title {
    color: #0b1727b4;
    font-weight: 600;
  }

  .as-state {
    color: #0b1727b4;
    opacity: 0.9;
    margin-top: -0.2rem;
  }

  .as-toggle-indicator {
    color: #ff6969b4;
  }
}

/* ITEM DESACTIVADO */
.as-item.disabled {
  background: #fafafabe;
  border: 1px solid #dddddd;
  opacity: 0.7;

  .as-icon-box svg {
    color: #8b8b8b;
  }

  .as-title {
    color: #616161;
  }

  .as-state {
    color: #818181;
  }

  .as-toggle-indicator {
    color: #777777;
  }
}

/* IZQUIERDA */
.as-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* ICONO */
.as-icon-box {
  padding: 0.55rem 0.7rem;
  border-radius: 10px;

  background: #ffffff;
  border: 1px solid #e0e0e0;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 1.35rem;
    color: #555;
  }
}

/* TEXTOS */
.as-texts {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.as-title {
  font-size: 1rem;
  font-weight: 500;
  color: #1e1e1e;

  letter-spacing: -0.2px; /* mejora legibilidad */
}

.as-state {
  font-size: 0.82rem;
  color: #6a6a6a;
  letter-spacing: -0.1px;
}

/* INDICADOR DERECHA */
.as-toggle-indicator {
  font-size: 1.45rem;
  font-weight: 600;
  opacity: 0.85;
}


@media (max-width: 500px){
  .add-sections{
    right: 1rem;
    bottom: 5rem;
    z-index: 10;
  }
}