.add-sections {
  width: 100%;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(12px);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 16px 20px;
  height: 400px;
  position: absolute;
  bottom: 0.4rem;
  right: -19.5rem;
  border-radius: 15px;
  z-index: 50;
}

/* LISTA */
.as-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0.5rem 0;
  overflow-y: auto;
  height: 95%;
  padding-right: 0.5rem;
  background-color: white;
}

/* ITEM */
.as-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 12px 16px;
  border-radius: 12px;
  transition: 0.2s ease;
  cursor: pointer;
  background-color: white;

  &.enabled {
    background: #f5f5f5;
    border: 1px solid #cce0ff;
    box-shadow: 0 2px 2px rgba(0, 115, 255, 0.15);

    .as-icon-box svg {
      color: #00aeff;
    }

    .as-title {
      color: #030e33da;
      font-weight: 500;
    }

    .as-state {
      color: #0073ff;
      opacity: 0.9;
    }

    .as-toggle-indicator {
      color: #00aeff;
      font-weight: 700;
    }
  }

  &.disabled {
    background: #f9f9f9;
    border: 1px solid #d4d4d4;
    opacity: 0.45;

    .as-icon-box svg {
      color: #808080;
    }

    .as-title {
      color: #3a3a3a;
      font-weight: 400;
    }

    .as-state {
      color: #3b3b3b;
    }

    .as-toggle-indicator {
      color: #464646;
    }
  }
}

/* LEFT */
.as-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.as-icon-box {
  padding: 0.5rem 0.6rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);

  svg {
    font-size: 1.3rem;
  }
}

.as-texts {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.as-title {
  font-size: 0.95rem;
}

.as-state {
  font-size: 0.78rem;
}

/* RIGHT INDICATOR */
.as-toggle-indicator {
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0.85;
}
