.cv-tokyo-header {
  &__main{
    display: flex;
    gap: 1.5rem;
  }
  &__progress-indicator{
    top: 3rem;
    left: -0.5rem;
  }
  &__identitySection {
    display: flex;
    gap: 2rem;
    align-items: start;
    padding: 10px 50px;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: #00ccff09;
      border: 1px solid #00ccff13;
      box-shadow: 0px 0px 2px #00ccff27;
    }

    &.space {
      justify-content: space-between;
    }

    &.start {
      justify-content: flex-start;
    }

    &--img {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      object-fit: cover;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.562);
      margin-top: 1rem;
    }

    &--text {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      line-height: 3.5rem;
      margin: auto 0;
      word-break: break-word; // rompe palabras largas
      overflow-wrap: break-word; // soporta compatibilidad
    }

    &--title {
      font-size: 2.9rem;
      font-weight: 700;
      max-width: 340px;
      color: black; // será sobrescrito por style={{ color: styles.title }}
    }

    &--occupation {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.2rem;
      margin-bottom: 1.5rem;
      color: #0A2A7A; // será sobrescrito por style={{ color: styles.profession }}
    }

    &--qr-wrapper {
      align-self: flex-start;
      text-align: center;
    }

    &--qr-text {
      font-size: 0.8rem;
      margin-top: 0.4rem;
      color: #333;
    }
  }
}