/* ===============================
   CV RIO – SKILL SECTION
=============================== */

.cv-rio__skillSection {
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 15px;

  &:hover {
    background-color: #00ccff09;
    border: 1px solid #00ccff13;
    box-shadow: 0px 0px 2px #00ccff27;
  }

  /* ----- Título de la sección ----- */
  &--title {
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 0.5rem;
    color: black;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: #000;
    }
  }

  /* ===============================
       ITEMS
  =============================== */

  &--item {
    margin-top: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    &-name {
      font-size: 0.95rem;
      font-weight: 600;
    }

    &-level {
      font-size: 0.9rem;
      opacity: 0.8;
    }
  }

  /* Encabezado de habilidad (Nombre + Nivel) */
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Contenedor de la barra */
  &--progress {
    margin-top: 0.35rem;
    width: 100%;
    height: 6px;
    background-color: #dcdcdc; /* gris claro */
    border-radius: 4px;
    overflow: hidden;
  }

  /* Barra interna */
  &--progress-bar {
    height: 100%;
    background-color: #051235; /* azul oscuro */
    border-radius: 4px;
    transition: width 0.4s ease;
  }
}
